/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 10 Standard
/public/build
/public/storage
/public/hot
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache

# Development Tools
/.vagrant
/.idea
.vscode
/qodana.yaml

# Project Specific
/storage/installed
/archive.tgz

# Custom
.cursor/rules/my-laravel-rules.mdc
DEVELOPER_DOCUMENTATION.md
storage/debugbar
storage/framework/cache
storage/logs